<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Quizz On Microservices</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <header>
        <!--
        <a href="{% url 'logout' %}">Logout</a>
        -->
    </header>
    <form method="post">

        <div class="container" style="margin:2rem;">
        {% for question in quizz_data %}
            <h2>Q {{ forloop.counter }}: {{ question.question }}</h2>

            <input type="radio" id="choice1" name="{{question.id}}" value="{{question.choice1}}">
            <label for="choice1">a) {{ question.choice1 }}</label><br>

            <input type="radio" id="choice2" name="{{question.id}}" value="{{question.choice2}}">
            <label for="choice2">b) {{ question.choice2 }}</label><br>

            <input type="radio" id="choice3" name="{{question.id}}" value="{{question.choice3}}">
            <label for="choice3">c) {{ question.choice3 }}</label><br>

            <input type="radio" id="choice4" name="{{question.id}}" value="{{question.choice4}}">
            <label for="choice4">d) {{ question.choice4 }}</label><br>

        {% endfor %}

        </div>

    <button type="submit" class="btn btn-primary" style="margin:2rem;">Submit</button>
    </form>
    {% endblock %}
</body>
</html>
