<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body class="bg-light">

  <div class="container py-5">
      <h1 class="display-4 mb-4">Welcome to Session Management Understanding</h1>
      <h3>Hello Guest, Select Anyone option: </h3><br>
      <a href="{% url 'anonymous_view' %}" class="btn btn-primary">Continue as Anonymous</a><br><br>
      <!-- Add a login button to redirect to a login page -->
      <a href="{% url 'login' %}" class="btn btn-secondary">Log In</a>
  </div>

{% bootstrap_javascript %}
</body>
</html>
